success

{% if tagg %}
<p> <strong>enter optn passed variable is in if {{tagg}}</strong></p>
{% else %}
<p> <strong> enter optn passed variable is in else {{tagg}} </strong></p>
{% endif %}

{% if username %}
<p> <strong>enter optn passed variable is in if {{username}}</strong></p>
{% else %}
<p> <strong> enter optn passed variable is in else {{username}} </strong></p>
{% endif %}

{% if user %}
<p> <strong>enter optn passed variable is in if {{user}}</strong></p>
{% else %}
<p> <strong> enter optn passed variable is in else {{user}} </strong></p>
{% endif %}
